{% load mptt_tags %}


<ul>
    <li>
        <a href="{% url 'menu' root.slug %}">{{ root }}</a>
    </li>
    <ul>
        {% recursetree root.get_descendants %}
            {% if node in active.get_ancestors or node == active or node in active.get_children %}
                <li>
                    <a href="{% url 'item' root.slug node.slug %}">{{ node }}</a>
                </li>
            {% endif %}
            <ul>
                {{ children }}
            </ul>
        {% endrecursetree %}
    </ul>
</ul>




